.content { 

    padding : 0 10% ; 

}


.footer {
    display :flex; 
    justify-content: center ; 
    background-color: grey; 
    padding : 10px 0 ; 
    color : white; 
    font-weight: bold; 
    margin-top: 20px;
}

.my_button{ 
    margin: 0 10px ;
}

.navigator_header {
    background-color: red;
}
